OPENAI_API_KEY=your_openai_api_key
APP_ENV=development
GOOGLE_API_KEY=your_google_api_key
MINIO_ENDPOINT=minio:xxxx
MINIO_ACCESS_KEY=username
MINIO_SECRET_KEY=password
MINIO_BUCKET_NAME=bucket-name
CORS_ALLOWED_ORIGINS=http://localhost:xxxx
POSTGRES_HOST=hostname
POSTGRES_PORT=port
POSTGRES_DB=database_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password